body {
    background: darkgrey;
    font-family: monospace, monospace;
}

#pollard { height: calc(100vh - 60px); width:calc(100vw - 60px); padding: 30px;overflow: hidden; }

#pollard #wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden; position: relative; 
}

#pollard #wrapper #structure {
    position: relative;
    height: calc(100vh - 60px);
    float: left;
    width: 20%;
    /* display: inline-block; */
}

#pollard textarea { 
    background: gainsboro;
    font-size: xx-large;
    width:90%;
    height: 100%;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 2em;
    box-sizing: border-box;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border:none;
    resize:none;
}

#pollard #wrapper label {
    color: grey;
    position: absolute;
    top: 0.2em;
    bottom: 0;
    left: 2em;
    width: 100%;
    transition: 0.2s;
}

#pollard #wrapper #output {
    position: relative;
    height: calc(100vh - 60px);
    float: none;
    overflow: hidden;
    width: 60%;
    /* display: inline-block; */

}

#pollard #wrapper #output textarea {
    width: 90%;
    text-align: left;
    padding-left: 15%;
    padding-right: 15%;
}



#pollard #wrapper #corpus {
    position: relative;
    height: calc(100vh - 60px);
    width: 100%;
    float:right;
    width: 20%;
    /* display: inline-block; */

}



#menu { position: fixed;width: 30px;background: red;top: 0;left: 0; width: 100vw; color:black; background:white; font-size:11px; line-height: 20px; transition: margin-top 0.25s; z-index: 9999; padding-left: 25px; }
#menu.hidden { margin-top:-20px; }
#menu.hidden > li > ul > li { display: none }
#menu > li { float: left; position: relative; cursor: pointer; padding:0px 5px; display: inline-block; }
#menu > li:hover { background: black; color:white; }
#menu > li > ul { display: none; position: absolute; background:white; position: absolute; top:20px; left:0px; color:black; width: 200px}
#menu > li:hover > ul { display: block; }
#menu > li > ul > li { padding: 0px 10px; display: block }
#menu > li > ul > li:hover { background: #ccc; }
#menu > li > ul > li > i { display: inline-block; float: right; color: #aaa; }